# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
banchan-*.tar

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
/assets/node_modules/

# Ignore Surface hooks
/assets/js/_hooks/

# Ignore assets that are produced by build tools.
/priv/static/assets
# And the cache manifest
/priv/static/cache_manifest.json

# Ignore the Mnesia cache
/Mnesia.*

# Ignore .vscode dir
/.vscode

# Elixir LS
/.elixir_ls

# Ignore environment variable files
.env
.env.ps1

# Ignore self-signed cert
priv/cert/
