<ul>
<%= if @current_user do %>
  <li><%= @current_user.email %></li>
  <li><%= link "Settings", to: Routes.user_settings_path(BanchanWeb.Endpoint, :edit) %></li>
  <li><%= link "Log out", to: Routes.user_session_path(BanchanWeb.Endpoint, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.user_registration_path(BanchanWeb.Endpoint, :new) %></li>
  <li><%= link "Log in", to: Routes.user_session_path(BanchanWeb.Endpoint, :new) %></li>
<% end %>
</ul>
