<%= if @current_user do %>
sexy things go here ;)))
<% else %>
<%= link "Log In", to: Routes.pow_session_path(@socket, :new) %>
<%= link "Register", to: Routes.pow_registration_path(@socket, :new) %>
<% end %>
